section.dell-hero.comapny-category {
  background: linear-gradient(90deg, #C0D0CF 0%, #ECF2FD 100%) !important;
}

.mutual-claim-help-title {
  text-align: center;
  border-bottom: 1px solid #798685;
  padding-bottom: 60px;
}