section.dell-hero.all-companies.over-view-15 {
  background: linear-gradient(90deg, #C6CED0 0%, #FBFAF9 100%) !important;
}

.over-view-15 div#heading-2 {
  border-top: none;
}

.over-view-15 div#heading-1 {
  border-top: 1px solid #798685;
}
.over-view-15 div#tab-1 {
  border-bottom: 1px solid #798685;;
}

.desktop-view.over-view-15 h2.hero-all-comp-title {
  color: #152827;
}

h2.tab-title-over-view {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #152827;
  padding: 80px 0 60px 0;
}